
{% extends 'base.html' %}
{% load static %}

{% block page_title %}
    All Challenges
{% endblock page_title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'challenges/index.css' %}">
    <link rel="stylesheet" href="{% static 'challenges/shared/nav.css' %}">
{% endblock css_files %}

{% block content %}

    {% include 'challenges/shared/nav.html' %}

    <ul>
        {% for month in months %}
            <li><a href="{% url 'month-challenge' month=month %}"> {{ month|title }} </a></li>
        {% endfor %}
    </ul>
{% endblock content %}